.search-field {
    margin: auto;
    display: block;
}

.search-button {
    margin: auto;
    display: block;
    width: 185px;
}

.card {
    margin: auto;
    margin-top: 50px;
    display: block;
}