<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      [App Title]
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <input type="text" class="search-field"><button onclick="search()" class="search-button">Search</button>
  <img class="card" onclick="cardInfoPlains()" src="https://static.cardkingdom.com/images/magic-the-gathering/core-set-2021/plains-260-70537.jpg">
  <img class="card" onclick="cardInfoIsland()" src="https://static.cardkingdom.com/images/magic-the-gathering/core-set-2021/island-263-77165.jpg">
  <img class="card" onclick="cardInfoSwamp()" src="https://static.cardkingdom.com/images/magic-the-gathering/core-set-2021/swamp-266-77361.jpg">
  <img class="card" onclick="cardInfoMountain()" src="https://static.cardkingdom.com/images/magic-the-gathering/core-set-2021/mountain-270-74548.jpg">
  <img class="card" onclick="cardInfoForest()" src="https://static.cardkingdom.com/images/magic-the-gathering/core-set-2021/forest-273-56154.jpg">
</ion-content>
